/* Stile della barra di ricerca */
.search-container {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 500px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
  z-index: 9999;
}

.search-container input {
  width: 90%;
  padding: 8px 15px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  outline: none;
}

.search-container input:focus {
  box-shadow: 0 0 5px rgba(0, 122, 255, 0.5);
}

.search-container button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.search-container button span.material-icons {
  font-size: 24px;
  color: #333;
}

/* Mappa */
#map {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

/* Pulsanti di zoom - visibili solo su desktop, in basso a destra */
@media only screen and (min-width: 769px) {
  .leaflet-control-zoom {
    position: absolute !important;
    bottom: 20px !important;
    right: 20px !important;  /* Posiziona i pulsanti di zoom in basso a destra */
    z-index: 1000 !important; /* Assicura che i pulsanti siano sopra la mappa */
    background: none !important; /* Rimuove lo sfondo */
    border: none !important; /* Rimuove il bordo */
    border-radius: 50% !important; /* Rende i pulsanti circolari */
    width: 40px !important;
    height: 40px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    box-shadow: none !important; /* Rimuove eventuali ombre */
  }

  /* Personalizzazione dei pulsanti di zoom */
  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
    background-color: transparent !important;
    font-size: 24px !important;
    color: #333 !important;  /* Colore semplice per i pulsanti */
  }

  .leaflet-control-zoom-in:hover,
  .leaflet-control-zoom-out:hover {
    background-color: #007bff !important; /* Colore di hover */
    color: white !important;  /* Colore del testo sui pulsanti al passaggio del mouse */
  }

  .leaflet-control-zoom-in:focus,
  .leaflet-control-zoom-out:focus {
    outline: none !important;
  }
}

/* Nascondere i pulsanti di zoom su dispositivi mobili */
@media only screen and (max-width: 768px) {
  .leaflet-control-zoom {
    display: none !important;
  }
}
